body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* footer styles */


.header{
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.frame{
  display: flex;
  align-items: center;
  margin-left: 240px;
}


.frame img{
  width: 86.041px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 20px;
}

.image-title{
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

.Gamer{
  color: rgb(255, 51, 204);
}


.header-container{
  margin-right: 240px;
}

.header-container > ul{
  display: flex;
  align-items: center;
}


.header-container ul li{
  list-style: none;
}


.header-container  li a{
  text-decoration: none;
  margin-right: 32px;
  color: #3C354F;
  font-size: 18px;
  font-weight: 500;
}
.btn{
  color: #3C354F;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  border: none;
  padding: 17px 24px;
}


.btn i{
  color: #F61C0D;
  margin-left: 25px;
}


.btn .fa-tiktok{
  color: #3C354F;
}


/* main styles */


/* banner styles */

.banner-container{
  background-image: url('../Group 14.png');
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  justify-content: space-between;
  margin-left: 240px;
  margin-right: 240px;
}


.banner-1{
  margin: 150px 0px;
}


.banner-title1{
  color: #0B0223;
  font-size: 48px;
  font-weight: 600;
}


.banner-title2{
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 25px;
}


.banner-description{
  color: #534C64;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 17px;
}

.banner-description .fa-circle-play{
  color: #FF42A5;
}

.banner-description .fa-download{
  color: #FF42A5;
}

.btn-primary{
  border-radius: 48px;
  background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
  padding: 20px 40px;
  margin-right: 25px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

.btn-secondary{
  border-radius: 48px;
  background: #4EC5F7;
  padding: 20px 40px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  border: none;
}


button{
  margin-top: 40px;
}

.banner-2{
  margin-top: 20px;
}

/* gamer styles  */

.gamer-container{
  display: flex;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
  margin-top: 0px;
  padding-left: 240px;
  padding-right: 240px;
  gap: 52px;
}


.gamer-image{
  margin: 55px 0px;
}

.gamer-zone{
  margin-top: 95px;
  margin-bottom: 95px;
}


.gamer-title{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: right;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.gamer-description{
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  width: 520px;
  margin-bottom: 32px;
}


.gamer-btn{
  border-radius: 48px;
  background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
  padding: 20px 40px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  border: none;
  margin-bottom: 25px;
  float: right;
}


.gamer-description1{
  margin-top: 170px;
  color: #534C64;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
}

.unleash{
  font-size: 32px;
  font-weight: 700;
}

/* online gamer styles */


.online-gamer{
  margin: 120px 240px;
}


.video{
  text-align: center;
}


.video-title{
  color: #0B0223;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 5px;
}


.Funny{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.video-description{
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}


.gamer-video{
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}

.card{
  border-radius: 16px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  border: none;
}

.card:hover{
  border-radius: 16px;
  border: 4px solid var(--Linear, #FF42A5);
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat; */
  position: relative;
  background-color: #00000099;
}

/* gamer button styles */


.gamer-button{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
  padding: 120px 250px;
  align-items: center;
  justify-content: center;
}


.click-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: #FFF;
  gap: 15px;
  border: none; 
}



/* footer styles */

footer{
  background: #0B0223;
}


.footer{
  text-align: center;
  padding-top: 120px;
}

.footer-game{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 66px;
  gap: 20px;
}

.image-title1{
  color: #FFF;
  font-weight: 700;
  font-size: 45px;
}


.footer-ankar{
  margin-bottom: 66px;
}


.footer-ankar > ul{
  display: flex;
  text-align: center;
  justify-content: center;
}


.footer-ankar ul li{
  list-style: none;
  margin-right: 60px;
}


.footer-ankar ul li a{
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
}


.footer-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 75px;
}

.fa-square-twitter{
  color: #FFFFFF;
}
.fa-facebook{
  color: #1877F2;
}
.fa-youtube{
  color: #FF0000;
}
.fa-linkedin{
  color: #FFFFFF;
}
.fa-instagram{
  color: #FFFFFF;
}
.fa-apple{
  color: #FFFFFF;
}


.description-ankar{
  margin-bottom: 5px;
}


.description-ankar > ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-ankar ul li{
  list-style: none;
  margin-right: 60px;
}


.description-ankar ul li a{
  text-decoration: none;
  color: #FFFFFF99;
  font-size: 16px;
  font-weight: 500;
}

.footer-description{
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 130px;
}